*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1{font-size: 2.6rem;}

.keyword{
    color: #da5c1e;
    font-weight: bolder;
    font-style: italic;
}

a:hover{
    color: #fe0a52;
    font-size: 1.2em;
}

div#answer{
    width: 20%;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    color: #000;
}

div.success{
    background-color: #a5ff0d;
}

div.error{
    background-color: #ff4e00;
    
}

body{
    font-family: Georgia, serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    padding: 1rem 0 1rem  0;
    vertical-align: middle;
}

header{
    background-color: #333;
    color: #fff;
    min-height: 70px;
    text-align: center;
    border-bottom: #f4f4f4 solid 3px;
}

main{
    text-align: center;
    padding: 1rem;
}

article{
    background-color: #f2f2f2;
    padding: 1rem;
}

article > h1{
    font-size: 2.4rem;
    padding: 1rem 0 1rem 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > .form-group{
    padding: 0.8rem;
    width: 18rem;
}

form  label{
    float: left;
    font-size: 1.2em;
    padding-bottom: 0.2rem;
}

form  input{
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

form input[type="submit"]{
    background-color: #333;
    color: #fff;
    width: auto;
    padding: 0.8rem;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    border-top: #f4f4f4 solid 4px;
    min-height: 70px;
    margin-top: auto;
}