*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1{font-size: 2.6rem;}

p{text-align: justify;}

a{
    color: inherit;
    text-decoration: none;
}

.nav-btn{
    background-color: orangered;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.center{text-align: center;}

.right{float: right;}

.keyword{
    color: #da5c1e;
    font-weight: bolder;
    font-style: italic;
}

a:hover{
    color: #fe0a52;
    font-size: 1.2em;
}

.btn{
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
}

body{
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;  
}

header li{
    padding: 0.5rem 0.5rem;
    display: inline;
}

header a{color: #fff;}

main .info{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > .form-group{
    padding: 0.8rem;
    width: 18rem;
}

form  label{
    float: left;
    font-size: 1.2em;
    padding-bottom: 0.2rem;
}

form  input{
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

form input[type="submit"]{
    background-color: #333;
    color: #fff;
    width: auto;
    padding: 0.8rem;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: auto;
}